@import "tailwindcss";


:root {
  --primary-color: #1476ff;
  --primary-light:#f9faff;
  --secondary-color: #f3f5ff;
}
body {
  background-color: var(--secondary-color);
}

.status-header{
  color: #5d5d5d;
}

@keyframes customSlideInLeft {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.custom-slide-in {
  animation: customSlideInLeft 0.4s ease-out both;
}


.custom-toast {
  width: 400px !important;
  margin: auto;
  text-align: center;
}
